<!-- 

<footer class="page-footer">

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
    <h5 class="footer-heading">{{ site.title | escape }}</h5>

                
                <p class="grey-text text-lighten-4">{{ site.footercontent}}</p>
              </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>

      
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

  
    </div>

  </div>
  

</footer>
<script type="text/javascript">
$( document ).ready(function(){
$(".button-collapse").sideNav();
})
</script> -->
