---
layout: default
---

 <section class="col s12 m12 l8 section">
                    <div class="row">
                        <div class="section-wrapper z-depth-1">                            
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-suitcase"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Work Experience</h2>

                                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                                    <h3>Module Lead <span>@Tailored Solutions Pvt. Ltd.</span></h3>
                                    <span>May 2016 </span>
                                    <p>Tailored Solutions's One of the product VROnCloud (Virtual Reality on Cloud), is the world’s first virtual reality platform where immersive VR walk-through can be created by virtual reality professionals like photographers and videographers, using a simple and user-friendly interface. The Virtual Reality walk-through that you create can be exported and integrated into your website. You can also export ready-to-go builds for Android and iOS platforms.  </p>
                                </div>

                                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                                    <h3>Technical Team Lead <span>@Techsoins Solution</span></h3>
                                    <span>July 2015 – March 2016 </span>
                                    <p>Techsoins Solution is video streaming company they are also dealing with outsourcing work for various technologies.</p>
                                </div>
                                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                                    <h3>PHP Team Lead <span>@P&K Infocom Pvt. Ltd.</span></h3>
                                    <span>July 2014 – July 2015 </span>
                                    <p>P & K infocom is a leading website design company specializes in web design, web development, web hosting, search engine optimization and e commerce solutions. </p>
                                </div>
                              
                            <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                                    <h3>Programmer <span>@Silvertouch Technologies LTD (CMMI LEVEL5).</span></h3>
                                    <span>January 2013 – July 2014</span>
                                    <p>Silver Touch is a leading and globally accepted IT solution provider and currently at the forefront of offshore software development to serve the people across the world.</p>
                                </div>

                                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                                    <h3>Software Engineer <span>@Tailored Solutions</span></h3>
                                    <span>April 2011 – January 2013</span>
                                    <p>Tasol Global Basically does development in Joomla and I had Deployed 6 Project Successfully.</p>
                                </div>

                                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                                    <h3>Jr. Software Engineer <span>@Netclues Inc.</span></h3>
                                    <span>September 2010 - April 2011</span>
                                    <p>Netclues has their own framework and I had successfully deployed 6 applications</p>
                                </div>
                                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                                    <h3>Jr. Software Engineer <span>@Avinashi Systems Pvt. Ltd</span></h3>
                                    <span>September 2009 - September 2010 </span>
                                    <p>1 Year Experience in Avinashi Systems Pvt. Ltd. and learn and successfully Deployed 8 Applications in core php and Doo php Framework</p>
                                </div>

                            </div>                            
                        </div>

                        <!-- ========================================
                         Education 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Education </h2>
                                
                                <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >
                                    <h3>B.E.(Computer)<span>@South Gujarat University</span></h3>
                                    <span>July 2009 </span>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
                                </div>
                                <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s" >
                                    <h3>Diploma Computer Engineering <span>@Technical Examinations Board</span></h3>
                                    <span>May-2005 </span>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
                                </div>
                              
                            </div>
                        </div>

                       
                        <!-- =======================================
                          portfolio Website
                        ==========================================-->
<div class="section-wrapper z-depth-1">                           
                            <div class="section-icon col s12 m12 l2">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                               
                            </div>
                        <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s">          <h2>&nbsp;&nbsp;&nbsp; </h2>                 
                           
                                <div class="row">
                                   <ul >
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

            {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
          <li>
          <a href="http://www.phpbees.com"><i class="fa fa-connectdevelop" aria-hidden="true"></i></i></a>
          </li>
        </ul>
                                </div>
                                </div>
                            
                        </div>
                    </div><!-- end row -->
                </section><!-- end section -->

