 ---
layout: innerpage
---
 <section class="col s12 m12 l8 section">
                    <div class="row">
                        <div class="full-portfolio">
                            <div class="wow fadeIn a1" data-wow-delay="0.1s">
                                <div class="portfolio-nav section-wrapper z-depth-1">
                                    <ul>
                                        <li class="filter" data-filter="all">Show All</li>
                                        <li class="filter" data-filter=".category-1">Art</li>
                                        <li class="filter" data-filter=".category-2">Icons</li>
                                        <li class="filter" data-filter=".category-4">Materials</li>
                                    </ul>
                                </div>
                                <div id="loader">
                                    <div class="loader-icon"></div>
                                </div>
                                
                                <div class="screenshots" id="portfolio-item" >
                                    <div class="row">
                                        <ul class="grid">
                                            <!-- Portfolio one-->
                                            <li class="col m6 s1 2 mix category-1">
                                                <a href="portfolio-full.html" class="sa-view-project-detail" data-action="#project-one">
                                                    <figure class="more">
                                                    <img src="assets/images/p.jpg" alt="Screenshot 01" class="">
                                                        <figcaption>
                                                            <div class="caption-content">
                                                                <div class="single_image">
                                                                    <h2>Minimal Design</h2>
                                                                    <p>Work hard for what you want because 
                                                                    it won't come to you without a fight</p>
                                                                </div>							
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                			</li>
                                			<!-- Portfolio two-->
                                            
                                        </ul>
                                    </div>
                                </div>
                                
                                <!-- PROJECT DETAILS WILL BE LOADED HERE -->
                                <div class="sa-project-gallery-view" id="project-gallery-view"></div>
                                <div class="back-btn col s12">  
                                    <a id="back-button" class="btn btn-info waves-effect" href="#" ><i class="fa fa-long-arrow-left"></i> Go Back </a>
                                </div>
                            </div>                            
                        </div>


                        <!-- =======================================
                          portfolio Website
                        ==========================================-->
                        
                    </div><!-- end row -->
                </section><!-- end section -->
